@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

/* 
---------------------------------------------
                  HEADER
--------------------------------------------- 
*/

header {
  height: 65px;
  width: 100%;
  background-color: rgba(141, 118, 69, 0.9);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 150px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.nav {
  text-align: right;
  height: 65px;
  line-height: 65px;
}

.header-right {
  float: right;
  margin: 0 30px 0 0;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  clear: right;
}

span {
  color: #0a0a0a;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-right a:hover span {
  color: red;
}

label {
  margin: 0 20px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

/* 
---------------------------------------------
                  ANIMASI Kotak-kotak
--------------------------------------------- 
*/

.box-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box-area li {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 20s linear infinite;
  bottom: -150px;
}

.box-area li:nth-child(1) {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.box-area li:nth-child(2) {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}

.box-area li:nth-child(3) {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.box-area li:nth-child(5) {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.box-area li:nth-child(6) {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}

/* 
---------------------------------------------
                  MAIN Part 1
--------------------------------------------- 
*/

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(images/background.jpg);
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.9;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #d63031;
}

.facebook {
  background-color: #5352ed;
  margin-right: 10px;
}

.twitter {
  background-color: #1e90ff;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  color: white;
  margin-right: 5px;
}

/* 
---------------------------------------------
                  MAIN Part 2
--------------------------------------------- 
*/

.coffee-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background: linear-gradient(to left, #b2bec3, #ffeaa7);
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #080808;
}

.heading h2 {
  font-weight: normal;
}

.coffee {
  float: left;
  width: 25%;
}

.coffee-icon {
  position: relative;
}

.coffee-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #141414;
}

.heading h3 {
  font-weight: normal;
}

.clear {
  clear: left;
}

/* 
---------------------------------------------
                  MAIN Part 3
--------------------------------------------- 
*/

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
  background-color: #bdc3c7;
}

.message {
  padding: 15px 40px;
  background-color: #e67e22;
  cursor: pointer;
  box-shadow: 0 7px #d35400;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


/* 
---------------------------------------------
                  FOOTER
--------------------------------------------- 
*/

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p,
a {
  color: #fff;
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: center;
  color: #d9d9d9;
  padding: 0 20px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

/* dibawah ini kalo dipindah ke responsive.css nanti posisi tampilannya malah berubah, gak tau kenapa hehehehe maap */
@media (max-width:950px) {
  footer .content .middle {
    padding-left: 50px;
  }

  footer .content .box {
    width: 50%;
  }

  .content .right {
    margin-top: 40px;
  }
}

@media (max-width:560px) {
  footer {
    position: relative;
  }

  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle {
    padding-left: 0;
  }
}